<header class="header">
    <div class="brand-box">
        <span class="brand"></span>
        <div class="brand-box-items">
            <span class="brand"><img src="../../assets/img/baseline_account_circle_white_18dp.png"></span> &nbsp;&nbsp;&nbsp;&nbsp;
            <span class="brand"><img src="../../assets/img/baseline_shopping_cart_white_18dp.png"></span>
        </div>
    </div>


    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">Agora estamos online!</span>
            <span class="heading-primary-sub">Venha comprar sentindo a wave!</span>
        </h1>
        <input class="input-search" placeholder="O que você está procurando?">
    </div>
</header>