body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #eee;
}

.header {
    height: 50vh;
    background-image: linear-gradient(to right bottom, rgba(76, 216, 255, 0.8), rgba(30, 108, 217, 0.8)), url('../../../assets/img/onda-surf.jpeg');
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 150% 0, 160% 36vh, 0 100%);
}

.brand-box {
    margin-left: 0.5%;
    display: flex;
    justify-content: space-between;
    top: 40px;
    left: 40px;
}

.brand-box-items {
    margin-top: 14.2%;
    margin-right: 0.5%;
    float: right;
    display: flex;
    justify-content: space-between;
    top: 40px;
    left: 40px;
}

.brand {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 30px;
}

.heading-primary-main {
    display: block;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 5px;
}

.heading-primary-sub {
    display: block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 7.4px;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
    width: 80%;
}

.input-search {
    width: 80%;
    outline: none;
    border: none;
    text-align: center;
    height: 2rem;
    border-radius: 20px;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
    font-size: 20px;
    border-radius: 15px;
}